#clientStatus{
  color: white;
}
#clientAvatar{
  box-shadow: 0 0px 10px 2px rgba(0,0,0,0.5);
}
#videoContainer {
    position: relative;
    border-radius: 5px;
    /*box-shadow: 0 0px 16px 2px rgba(0,0,0,0.2);*/
}

.videoRecording{
  border: 3px solid #d9534f;
  width: 100%;
}
.videoUnrecording{
  
  width: 27%;
}
.resize {
  transition: all 1.5s ease-in-out;
}

#sharingArea{
    width: 100%;
}
#sharingIframe {
    width: 100%;
    border: none;
    height: 95%;
}


.formshow {
 -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.formhide {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}


.videoSubContainer {
    bottom: 0px;
    right: 0px;
    position: absolute;

}

#remoteVideo{
    border-radius: 5px;
}
#selfVideo{
    border-radius: 5px;
}

#form-zone{
    position: fixed;
    right: 25%;
    height: 900px;
    
}

#send-message{
  margin-top: 5px;
  order: 2;
}


#chat-col{
      box-shadow: 0px 4px 21px -4px rgba(0,0,0,0.75);
}

div.chat-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


div.chat-messages {
    order: 1;
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
    height: 150px;
   
}
div.sent-message {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 12px;
    display: inline-block;
    color: rgba(32,40,70,0.9);
    padding: 14px;
    font-size: 0.8em;
    font-weight: 400;
    background: rgba(233,234,243,1.0);
    animation: sent-message 0.9s ease-out 0s;
}
div.sent-message.me {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 12px;
    display: inline-block;
    color: rgba(32,40,70,0.9);
    padding: 12px;
    border: 1px solid rgba(32,40,70,0.4);
    font-size: 0.8em;
    font-weight: 400;
    background: rgba(255,255,255,0.9);
    animation: received-message 0.9s ease-out 0s;
}




.clear {
    clear: both;
}


.bounceInRight{
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.bounceInDown{
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@keyframes videoRecording {
    0%   { border-color: #d9534f; width: 27%}
    60%  { border-color: #d9534f; width: 1000% }
}

@keyframes received-message {
    0%   { color: rgba(32,40,70,0.9);    transform: translate(-100px,0px); opacity: 0 }
    42%  { color: rgba(32,40,70,0.9);    transform: translate(-80px,0px);  opacity: 0.8 }
    60%  { color: rgb(255, 134, 92);  border-color: rgb(255, 134, 92); transform: translate(3px,0px);  opacity: 1 }
    80%  { color: rgba(32,40,70,0.6);    transform: translate(-2px,0px);    opacity: 1 }
    90%  { color: rgba(32,40,70,0.8);    transform: translate(1px,0px);  opacity: 1 }
    100% { color: rgba(32,40,70,0.9);    transform: translate(0px,0px);    opacity: 1 }
}
@keyframes sent-message {
    0%   { color: rgba(32,40,70,0.9);    transform: translate(100px,50px); opacity: 0 }
    42%  { color: rgba(32,40,70,0.9);    transform: translate(80px,40px);  opacity: 0.8 }
    60%  { color: rgba(144,134,251,0.3);  border-color: rgb(255, 134, 92); transform: translate(-3px,-7px);  opacity: 1 }
    80%  { color: rgba(32,40,70,0.5);    transform: translate(2px,3px);    opacity: 1 }
    90%  { color: rgba(32,40,70,0.7);    transform: translate(-1px,-2px);  opacity: 1 }
    100% { color: rgba(32,40,70,0.9);    transform: translate(0px,0px);    opacity: 1 }
}

@-webkit-keyframes bounceInRight {

  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@keyframes bounceInRight {

  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

}


@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}


