<section id="container">
    <!--START OF HEADER-->
    <header class="header black-bg">
        <!--logo start-->
        <a href="index.html" class="logo"><b>Agent supervisor</b></a>
        <!--logo end-->

        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <!--<li><a class="logout" ng-click="wscInit()">Login</a></li>-->
                <li>

            </ul>
        </div>
    </header>
    <!--END OF HEADER-->


    <!--START OF LEFT SIDEBAR-->
    <aside>
        <div id="sidebar" class="nav " tabindex="5000" style="overflow: hidden; outline: none;">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion" style="display: block;">

                <p class="centered">
                    <a href="#">
                        <img src="images/ui-sherman.jpg" class="img-circle agentAvatar" ng-class="{ agentAvatarUnlogged: chameleon.signallingStateId == 0 || chameleon.signallingStateId == 2,
                    agentAvatarLogged: chameleon.signallingStateId == 4,
                    agentAvatarBusy: chameleon.isActiveCall === true}" width="100"></a>
                </p>
                <h5 class="centered">Margaret Dorm</h5>
                <h5 class="centered">Status: {{chameleon.signallingState}}</h5>
                <!--<div class="centered">
                    <div class="alert alert-info" ng-show="chameleon.signallingStateId == 0">
                        <span><strong>Log in to activate.</strong></span>
                    </div>

                    <div class="alert alert-danger" ng-show="chameleon.signallingStateId == 1">
                        <span><strong>Error:  </strong>{{chameleon.signallingError.code}} {{chameleon.signallingError.reason}}</span>
                    </div>

                    <div class="alert alert-warning" ng-show="chameleon.signallingStateId == 3">
                        <span><strong>Wait for it...</strong></span>
                    </div>

                    <div class="alert alert-info" ng-show="chameleon.signallingStateId == 2">
                        <span><strong>Session ID:  </strong>{{chameleon.wscSessionObj.getSessionId()}}</span>
                    </div>

                    <div class="alert alert-success" ng-show="chameleon.signallingStateId == 4">
                        <span><strong>Session ID:  </strong>{{chameleon.wscSessionObj.getSessionId()}}</span>
                    </div>
                </div>-->
                <div class="centered">
                    <button type="button" class="btn btn-success" ng-hide="chameleon.signallingStateId == 1 || chameleon.signallingStateId == 2 || chameleon.signallingStateId == 4"
                        ng-disabled="chameleon.signallingStateId == 3" ng-click="wscInit()"><span class="fa fa-sign-in"> </span> Activate</button>
                        <button type="button" class="btn btn-success" ng-show="chameleon.signallingStateId == 1" ng-click="wscInit()"><span class="fa fa-refresh"> </span> Retry</button>
                        <button type="button" class="btn btn-success" ng-show="chameleon.signallingStateId == 2" ng-click="wscInit()"><span class="fa fa-refresh"> </span> Login</button>
                        <button type="button" class="btn btn-danger" ng-show="chameleon.signallingStateId == 4" ng-click="wscStop()"><span class="fa fa-power-off"> </span> Log Out</button>
                </div>

                <li class="mt">
                    <a href="" ng-click="pushForm1()" ng-show="chameleon.activeCallDC == 'OPEN' && syncData.form.active === false">
                        <i class="fa fa-edit"></i>
                        <span>Push form</span>
                    </a>
                    <a href="" ng-show="chameleon.activeCallDC == 'OPEN' && syncData.form.active === true" ng-click="resetForm1()">
                        <i class="fa fa-refresh"></i>
                        <span>Reset Form</span>
                    </a>
                    <a href="" ng-repeat="sharableDoc in sharableDocs" ng-click="sendUrl(sharableDoc)">

                        <i class="fa fa-exchange"></i>
                        <span>{{ sharableDoc.name }} </span>
                    </a>
                    <!--<div ng-show="showDocumentSharing">
                            <div ng-repeat="sharableDoc in sharableDocs">
                                <div class="col-sm-1 col-xs-2"><button ng-click="sendUrl(sharableDoc)">Send</button></div>
                                <div class="col-sm-11 col-xs-10">
                                    <p>{{ sharableDoc.name }} </p>
                                </div>
                            </div>
                        </div>-->
                    <a href="index.html">
                        <i class="fa fa-video-camera"></i>
                        <span>Video</span>
                    </a>


                    <a href="index.html">
                        <i class="fa fa-file-movie-o"></i>
                        <span>Announcement</span>
                    </a>
                </li>





                <!-- sidebar menu end-->
        </div>
    </aside>
    <!--LEFT SIDEBAR END -->

    <!--MAIN CONTENT START-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <!--CHATZONE START-->
                <div class="col-lg-6 ds  bounceInDown" id="chat-col" ng-show="chameleon.isActiveCall === true">
                    <h3>CHAT</h3>
                    <div class="pn grey-panel" id="chat-zone">

                        <div class="chat-container">

                            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
                            <!-- Chat Messages -->
                            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
                            <div class="chat-messages" id="agent-chat-messages">
                                <div ng-repeat="message in messages">
                                    <ng-switch on="message.data.type">
                                        <div ng-switch-when="text" class="sent-message" ng-class="{me: message.user.name == me.name}">
                                            <span class="username">{{ message.user.name }}:</span> {{ message.data.text }}
                                        </div>
                                        <div ng-switch-when="img" class="sent-message">
                                            <img ng-src="{{image}}" width="200" class="center-block" />
                                        </div>
                                    </ng-switch>
                                    


                                    <div class="clear"></div>

                                </div>
                            </div>
                            <div ng-hide='chameleon.isActiveCall === true && showTransfer'>

                                <div ng-hide="showPicture">
                                    <img width="100" id="pictureImg" class="center-block" />
                                </div>
                                <div ng-show="showMediaRecorder">
                                    <video width="100" id="recorded" class="center-block" autoplay loop controls></video>
                                </div>

                            </div>




                            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
                            <!-- User Input -->
                            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
                            <form class="form-inline" id="send-message" ng-submit="send()">
                                <div class="form-group">
                                    <input type="text" ng-model="textbox" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-theme03">Send</button>
                            </form>

                        </div>

                    </div>


                </div>
                <!--CHATZONE END-->

                <!--FORM ZONE START-->
                <div class="col-lg-3 ds bounceInDown" id="form-col" ng-show="chameleon.calls.active.length > 0 && showFormSharing && syncData.form.active === true">
                    <h3>{{formFieldNames.title}}</h3>
                    <!--Click the <button class="btn btn-danger btn-sm" type="button" ><span class="fa fa-exclamation-circle"></span></button>
                        button to pull the customer's attention to a particular form entry.-->
                    <div ng-repeat="field in formFieldNames.fields">
                        <label class="control-label">{{field}}</label>:
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="syncData.form.fields[$index]">
                            <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" ng-click="focus('entry1')"><span class="fa fa-exclamation-circle"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="centered">
                        <p> Waiting for customer to submit the form...</p>
                        <button ng-show="chameleon.activeCallDC == 'OPEN' && syncData.form.active === true" class="btn btn-default" type="button"
                            ng-click="resetForm1()"><span class="fa fa-undo"></span> Reset</button>

                    </div>
                </div>
                <!--<span ng-show="chameleon.activeCallDC == 'OPEN'">Data channel open.</span>
                    <span ng-show="chameleon.activeCallDC != 'OPEN'">Data channel closed.</span>-->
                <!--<div class="mt md">
                            <button type="button" class="btn btn-success btn-lg btn-block">Submit</button>
                        </div>-->


                <!--FORM ZONE END-->


                <!--CUSTOMER ZONE START-->
                <div class="col-lg-3 ds  bounceInRight" id="customer-col" ng-show="chameleon.isIncomingCall === true || chameleon.isActiveCall === true">
                    <div ng-show="chameleon.isIncomingCall === true || chameleon.isActiveCall === true">
                        <h3>CUSTOMER INFO</h3>
                        <h5 class="centered">Arthur Cobalt</h5>
                        <p class="centered">
                            <a href="#"><img src="images/ui-sam.jpg" class="img-circle" width="60"></a>
                        </p>
                    </div>
                    <div class="row" ng-show='chameleon.isActiveCall === true'>
                        <div id="videoContainer">
                            <video ng-show='chameleon.activeCallVideo == "SENDRECV" || chameleon.activeCallVideo == "SENDONLY"' width="100%" id="selfVideo"
                                autoplay muted></video>
                                <div class="videoSubContainer">
                                    <video width="27%" id="remoteVideo" ng-show='chameleon.activeCallVideo == "SENDRECV" || chameleon.activeCallVideo == "RECVONLY"'
                                        fullscreen autoplay></video>
                                </div>

                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-camera"></i></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-desktop"></i></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                        </div>
                        <!--<button class="btn btn-default" type="button" ng-click="takePicture()" ng-show="showTakePicture">Take Picture</button>-->
                    </div>





                    <div class="row" ng-show="showProgress">
                        <div class="progress">
                            <div class="progress-bar" id="progressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                        </div>
                    </div>


                    <div class="centered mt" ng-show="chameleon.isIncomingCall === true && chameleon.signallingStateId == 4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-lg" ng-click="answerIncomingCall(call)"><span class="fa fa-phone fa-3x"></span></button>
                            <button type="button" class="btn btn-danger btn-lg" ng-click="declineIncomingCall(call)"><span class="fa fa-thumbs-down fa-3x"></span></button>
                        </div>

                    </div>

                </div>
                <!--CUSTOMER ZONE END-->

        </section>
    </section>
    <!--MAIN CONTENT END-->

</section>
<audio id="ringtone" preload=auto loop src="solarium.ogg"></audio>
<audio id="ringback" preload=auto loop src="roboto.ogg"></audio>
<audio id="localAudio" muted></audio>
<audio id="remoteAudio" autoplay></audio>