<section id="container">
<!--START OF HEADER-->
<header class="header black-bg">
    <!--logo start-->
    <a href="index.html" class="logo"><b>Oracle</b></a>
    <!--logo end-->

    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout" href="#!/main">Logout</a></li>
        </ul>
    </div>
</header>
<!--END OF HEADER-->


<!--START OF LEFT SIDEBAR-->
<aside>
    <div id="sidebar" class="nav " tabindex="5000" style="overflow: hidden; outline: none;">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion" style="display: block;">

            <p class="centered">
                <a href="#"><img src="styles/assets/img/ui-sam.jpg" class="img-circle" width="100"></a>
            </p>
            <h5 class="centered">Margaret Dorm</h5>

            <li class="mt">
                <a href="index.html">
                    <i class="fa fa-edit"></i>
                    <span>Push form</span>
                </a>
                <a href="index.html">
                    <i class="fa fa-exchange"></i>
                    <span>Terms & Conditions</span>
                </a>
                <a href="index.html">
                    <i class="fa fa fa-video-camera"></i>
                    <span>Video</span>
                </a>
                <a href="index.html">
                    <i class="fa fa-file-movie-o"></i>
                    <span>Announcement</span>
                </a>
            </li>


            <!-- sidebar menu end-->
    </div>
</aside>
<!--LEFT SIDEBAR END -->

<!--MAIN CONTENT START-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <!--CHATZONE START-->
            <div class="col-lg-6 ds">
                <h3>CHAT</h3>
                <div id="chat-zone">
                    
                </div>
                
                <input type="text" class="form-control">
                
                


            </div>
            <!--CHATZONE END-->

            <!--FORM ZONE START-->
            <div class="col-lg-3 ds" id="form-zone">
                <h3>FORM</h3>
                <form class="horizontal-form style-form mt">
                    <div class="form-group">
                        <label class="control-label">Name :</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Surname :</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email :</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company :</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company :</label>
                        <input type="text" class="form-control">
                    </div>

                </form>
                <div class="mt md">
                    <button type="button" class="btn btn-success btn-lg btn-block">Submit</button>
                </div>

            </div>

            <!--FORM ZONE END-->
            <!--CUSTOMER ZONE START-->
            <div class="col-lg-3 ds">
                <h3>CUSTOMER INFO</h3>
                <p class="centered mt">
                    <a href="#"><img src="styles/assets/img/ui-sam.jpg" class="img-circle" width="100"></a>
                </p>
                <h5 class="centered">Margaret Dorm</h5>
                <div class="centered">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"><i class="fa fa-camera"></i></button>
                        <button type="button" class="btn btn-default"><i class="fa fa-desktop"></i></button>
                        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                    </div>
                </div>
                <div class="centered mt">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-lg">Answer</button>
                        <button type="button" class="btn btn-danger btn-lg">Middle</button>
                    </div>

                </div>

            </div>
            <!--CUSTOMER ZONE END-->
        </div>
    </section>
</section>
<!--MAIN CONTENT END-->

</section>